miniRT
miniRT*

# test files
~*
_*
m.c

########################################
# Mac OS finder
.DS_Store

# vscode configurations
.vscode
.history

# vim swap file
.*.swp
.*.swo

# gcc/g++ output files
*.out
*.o
*.exe

# java output files
*.class
/build/

# git
.git
